<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @shelter_email %></h1>

    <p>
    <%= @content %>
    </p>

    <p>Thanks!</p>
    <p><%= @user_email %></p>
  </body>
</html>
